---
- name: Create Directory /etc/docker
  file:
    path: /etc/docker
    state: directory
    mode: 0755

- name: Set docker daemon
  template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
    backup: true
    mode: 0644
  notify:
    - Restart docker

## force restart before authentication
- name: Restart docker
  service:
    name: docker
    state: restarted

